
.intro-img {
  max-width: 40%;
}

.more-margin-bottom {
  margin-bottom: 7%;
}

.row {
  display: flex;
  flex-direction: row;
  position: relative;
  max-width: 100%;
  margin: 0;
}

.row:nth-of-type(even) {
  flex-direction: row-reverse;
}

.collumn-text {
  width: 50%;
  margin: auto 0;
  background-color: white;
  position: relative;
  left: -10%;
}

.collumn-text-odd {
  left: 10%;
}

.collumn-text p, .collumn-text h3 {
  text-align: left;
  margin: 5% 6%;
}

.collumn-img {
  width: 50%;
}

.row-img {
  max-width: 100%;
  max-height: 100%;
  background-color: #2b2b2b;
}

.detail-offer-grid {
  height: calc(100vh - 140px);
  padding: 4% 0;
  display: grid;
  grid-row-gap: 5%;
  grid-column-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.detail-offer-grid div {
  height: 100%;
  background-color: #E5E5E5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detail-offer-grid a {
  text-decoration: none;
  color: #686867;
}

.detail-offer-grid div > p {
  margin-top: 10%;
}

.full-width-column {
  grid-column: 1 / 4;
}
